.bg-nav{
  background-color: #91a7be;
}
.container-fluid h4{
  font-family: 'Chilanka', cursive;
  font-size: 2.3em;
  color: #728ba6;
}
.container{
  margin-bottom: 25px;
}
.filter{
  margin-bottom: 10px;
}
.filter .custom-select{
  border: 1px solid #ccc;
  border-radius: 16px;
  width: 8.5em;
}

.list-group .last_ep{
  color: black;
}
.list-group .list-group-item span{
  color: #17a2b8;
}
.list-group .last_ep:hover{
  color: gray;
}

.list-group .last_ep:hover,
.list-group .last_ep:active,
.list-group .last_ep:link,
.list-group .last_ep:visited{
  text-decoration: none;
}

.list-group .list-group-item{
  padding: 2em;
}
