{% extends "layout.html" %}

{% block content %}
<div class="container-fluid">
  <h4>Remember Where You Stopped</h4>
  <div class="container">
    <div class="text-right filter">
      <form class="" action="">
        <label for="filter">Filter</label>
        <select class="custom-select" name="filter" id="filter">
          <option value="all">All</option>
          <option value="anime">Anime</option>
          <option value="English_series">English series</option>
        </select>
        <input class="btn btn-info" type="submit" value="Go">
      </form>
    </div>
    <div class="">
      <ul class="list-group">
        {% for show in list %}
          <a class="last_ep" href="#"><li class="list-group-item">Name: {{ show['name'] }} <span class="text-right">last_ep: {{ show['last_ep'] }}</span> <br> Type: {{ show['type'] }} - season: {{ show['season'] }}</li></a>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

{% endblock %}
